<img src="assets/images/test.jpg" class="img-fluid filters" alt="...">

    <div class="container-fluid" style=" background-color: #35383f;">
        <h3 class="text-center text-white"
            style="font-family: saira,Sans-serif; font-size: 32px; font-weight: 400; font-style: normal;">Contacta a un
            Asesor de Ventas 55 6384-6600</h3>
    </div>

    <div class="container p-4 pb-0 text-center">
        <!-- Section: Social media -->
        <section class="mb-4">


            <i class="fa-brands fa-whatsapp  m-1 fa-3x" style="color: #1bbd36;"></i>

            <i class="m-1 fa-solid fa-square-phone-flip fa-3x" style="color: #4c1bbd;"></i>

            <i class="fa-brands m-1 fa-facebook-messenger fa-3x" style="color: #348fd1;"></i>


        </section>
        <!-- Section: Social media -->
    </div>

    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-md-5">
                <img src="https://vento.com/img/home/2022/rocketmancarrera250-logo.svg"
                    class="mr-5 mt-5 img-fluid d-flex flex-row justify-content-center alig-items-center"
                    style="width: 580px; height: 120px; padding: 4px;">
                <h4 class="mt-4 text-center">DESPIERTA TU LADO CAFE RACER</h4>
                <i
                    class="fas fa-arrow-circle-right d-flex flex-row justify-content-center alig-items-center fa-4x mt-5 mb-5"></i>
            </div>
            <div class="col-md-7">
                <img src="assets/images/motorcycles/vento-home-rocketmancarrera250.jpg" class="img-fluid">
            </div>
        </div>
    </div>




    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-md-7">
                <img src="https://vento.com/img/home/2022/vento-home-zero7.jpg" class="img-fluid">
            </div>
            <div class="col-md-5">
                <img src="https://vento.com/img/home/2022/zero7-logo.svg"
                    class="mr-5 mt-5 img-fluid d-flex flex-row justify-content-center alig-items-center"
                    style="width: 580px; height: 120px; padding: 4px;">
                <h4 class="mt-4 text-center">ZERO LÍMITES EN TU CAMINO</h4>
                <i
                    class="fas fa-arrow-circle-right d-flex flex-row justify-content-center alig-items-center fa-4x mt-5 mb-5"></i>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-md-5">
                <img src="https://vento.com/img/home/2022/workman125-logo.svg"
                    class="mr-5 mt-5 img-fluid d-flex flex-row justify-content-center alig-items-center"
                    style="width: 580px; height: 120px; padding: 4px;">
                <h4 class="mt-4 text-center">HECHA PARA LOGRAR MÁS</h4>
                <i
                    class="fas fa-arrow-circle-right d-flex flex-row justify-content-center alig-items-center fa-4x mt-5 mb-5"></i>
            </div>
            <div class="col-md-7">
                <img src="https://vento.com/img/home/2022/vento-home-rocketmancarrera250.jpg" class="img-fluid">
            </div>
        </div>
    </div>