<p>motorcycles-manage works!</p>

<hr>

<table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
  <thead>
    <tr>
      <th><fa-icon [icon]="faImage"></fa-icon></th>
      <th>SKU</th>
      <th>Iventario</th>
      <th>Precio</th>
      <th>Actualizar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of data">
      <td>
        <!--<div *ngIf="motorcycle && motorcycle.image">
          <img src="{{url + 'motorcycle/image/' + motorcycle.image }}" class="avatar img-fluid mx-auto d-block" alt="avatar">
        </div>
        <div *ngIf="(motorcycle && motorcycle.image == undefined) || motorcycle.image == ''">
            <img src="assets/images/stock-motorcycle.png" class="avatar " alt="avatar">
        </div>-->
        <div *ngIf="group.image">
          <img src="{{url + 'motorcycle/image/' + group.image }}" class="avatar img-fluid mx-auto d-block" width="80px" alt="avatar">
        </div>
        <div *ngIf="!group.image">
          <div class="text-center">
            <img src="assets/images/stock-motorcycle.png" class="avatar"  width="80px" alt="avatar">
          </div>

        </div>
      </td>
      <td>{{group.model}}</td>
      <td>
        <div *ngIf="group.stock_status == 'instock'">
          <span class="text-success text-bold">En existencia</span>
        </div>
        <div *ngIf="group.stock_status != 'instock'">
          <span class="text-danger text-bold">Agotodo</span>
        </div>
      </td>
      <td>
        <s>${{format(group.max_price)}}</s>
        <br/>

        ${{format(group.min_price)}}
      </td>
      <td>
        <div class="text-center">
          <button type="button" class="btn btn-outline-secondary" (click)="modify_motorcycle(group.id)">
            <fa-icon [icon]="faPenToSquare"></fa-icon>
          </button>

          <button type="button" class="btn btn-outline-danger" (click)="delete_motorcycle(group.id)">
            <fa-icon [icon]="faTrashCan"></fa-icon>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

