<div class="text-center">
  <h1>{{page_title}}</h1>
</div>

<hr>

<table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
  <thead>
    <tr>
      <th class="text-center"><fa-icon [icon]="faImage"></fa-icon></th>
      <th class="text-center">SKU</th>
      <th class="text-center">Iventario</th>
      <th class="text-center">Precio</th>
      <th class="text-center">Cantidad en Stock</th>
      <th class="text-center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let motorcycle of data" id="{{motorcycle.id}}">

      <td class="text-center">
        <div *ngIf="motorcycle.image">
          <img src="{{url + 'motorcycle/image/' + motorcycle.image }}" class="avatar img-fluid mx-auto d-block" width="80px" alt="avatar">
        </div>
        <div *ngIf="!motorcycle.image">
          <div class="text-center">
            <img src="assets/images/stock-motorcycle-I.png" class="avatar"  width="80px" alt="avatar">
          </div>

        </div>
      </td>

      <td class="text-center">
        {{motorcycle.model}}
      </td>

      <td class="text-center">
        <div *ngIf="motorcycle.stock_status == 'instock'">
          <span class="text-success text-bold">En existencia</span>
        </div>
        <div *ngIf="motorcycle.stock_status != 'instock'">
          <span class="text-danger text-bold">Agotado</span>
        </div>
      </td>

      <td class="text-center">
        <s>${{format(motorcycle.max_price)}}</s>
        <br/>
        ${{format(motorcycle.min_price)}}
      </td>

      <td class="text-center">
        {{motorcycle.stock_quantity}}
      </td>

      <td class="text-center">

        <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Editar" (click)="modify_motorcycle(motorcycle.id)">
          <fa-icon [icon]="faPenToSquare"></fa-icon>
        </button>

        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Planes" (click)="plans_motorcycle(motorcycle.id)">
          <fa-icon [icon]="fa"></fa-icon>
        </button>

        <button type="button" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Eliminar" (click)="delete_motorcycle(motorcycle.id)">
          <fa-icon [icon]="faTrashCan"></fa-icon>
        </button>
      </td>

    </tr>
  </tbody>
</table>